*{
    padding: 0px;
    margin: 0px;
}

.body{
    background: url("Assets/bg-img.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


#board{
    background: linear-gradient(rgb(255, 187, 187) , rgb(237, 237, 77));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    margin-right: 150px;

}

.head{
    background-color: red;

}
.snake { 
    background-color: purple;
}

.food{
    background-color: black;
}

.score{
    color: black;
    margin-left: 1240px;
    margin-top: -800px;
}